<div id='tasklines'></div>
<div class='ht-before-discounts'></div>
<div id='discounts' class='collapsible'></div>
<div class='total-ttc'></div>
<div id='post_ttc_lines' class='collapsible'></div>
<div class='total-due'></div>
<div id='expenses_ht' class='collapsible'></div>
