<form class="modal_content_layout layout">
	<div class="modal_content">
		<fieldset>
			<div class='order'></div>
			<div class="row form-row">
				<div class='description col-md-12'></div>
			</div>
			<div class="row form-row">
				<div class='amount col-md-6'></div>
				<div class='tva col-md-6'></div>
			</div>
		</fieldset>
	</div>
	<footer>
		<button class='btn btn-primary' type='submit' value='submit' title='{{title}}' aria-label='{{title}}'>
			<svg><use href="/static/icons/endi.svg#check"></use></svg> 
			Valider
		</button>
		<button class='btn' type='reset' value='submit'>
			Annuler
		</button>
	</footer>
</form>
