<div class='main_content'>
    <div class='main_toolbar'>
        <div class="layout flex main_actions">
            <button class='btn btn-primary icon' type='button' value='add'>
                <svg><use href="/static/icons/endi.svg#plus"></use></svg>
                Ajouter un produit
            </button>
            <div class='btn-group' role="group">
                <div class="btn-group" role="group">
                  <button
                      type="button"
                      class="btn icon dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                  >
                    <span>
                        <svg><use href="/static/icons/endi.svg#file-export"></use></svg>
                        &nbsp;Exporter
                    </span>
                    <svg><use href="/static/icons/endi.svg#chevron-down"></use></svg>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a class="btn icon_only mobile export_csv" href="#"
                           title="Exporter le catalogue produit au format CSV"
                           aria-label="Exporter le catalogue produit au format CSV"
                        >
                            <svg><use href="/static/icons/endi.svg#file-csv"></use></svg>
                            Catalogue produits (CSV)
                        </a>
                    </li>
                    <li class="export_json_button">
                    </li>
                  </ul>
                </div>
                <a class="btn icon_only mobile import_json" href="{{{ json_import_url }}}"
                  title="Importer un catalogue produits au format JSON"
                  aria-label="Importer un catalogue produits au format JSON"
                >
                <svg><use href="/static/icons/endi.svg#file-import"></use></svg>
                Importer (JSON)
              </a>
            </div>
        </div>
    </div>
    <div class='message-container'></div>

    <div class='layout flex product_catalogue'>
        <div>
            <div class='collapsible search_filters'></div>
            <div class="pager_widget_top"></div>
            <div class='table_container'></div>
            <div class="pager_widget_bottom"></div>
        </div>
        <div class='category-container'></div>
    </div>
</div>
