<div class='well'>
	<form name='criterion'>
		<button type="button" class="icon only unstyled close" title="Fermer le formulaire {{ label }}" aria-label="Fermer le formulaire {{ label }}">
			<svg><use href="/static/icons/endi.svg#times"></use></svg>
		</button>
		<input type='hidden' name='type' value='{{ type }}' />
		<input type='hidden' name='key' value='{{key}}' />
		<fieldset>
			<legend>{{ label }}</legend>
			<div class='row form-row'>
				<div class='form-group col-md-4'>
					<label for="method">Compter les éléments</label>
					<select id='method' name='method'>
						{{#method_options }}
						<option value='{{value}}' {{#selected}}selected{{/selected}}>{{label}}</option>
						{{/method_options }}
					</select>
				</div>
				<div class="form-group col-md-4">
					<label for='search1'>Valeur 1</label>
					<input class="form-control" id="search1" name="search1" type="text" value="{{ search1 }}"/>
				</div>
				<div class="form-group col-md-4">
					<label  for='search2'>Valeur 2</label>
					<input class="form-control" id="search2" name="search2" type="text" value="{{ search2 }}"/>
				</div>
			</div>
		</fieldset>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary btn-success" name='submit'>Créer</button>
			<button type="reset" class="btn btn-danger" name="cancel">Annuler</button>
		</div>
	</form>
</div>
