{{#if options.label}}
<label>{{ options.label }}</label>
{{/if}}
<div class='icon_choice' data-toggle="buttons">
	<div class="toggle-buttons layout flex">
	{{#each buttons }}
		<label title="{{#if this.selected}}{{{this.label}}}{{else}}{{{ ../toggle_label}}} : {{{this.label}}}{{/if}}"
			for="{{ ../name }}-{{@index}}"
            class="{{ this.css }} {{#if this.selected}}active{{/if}}"
        >
			<input type="radio" id="{{ ../name }}-{{@index}}" name="{{ ../name }}" value="{{ this.value }}" {{#if this.selected}} checked="checked" {{/if}} class="visuallyhidden">
			<span>
				<svg><use href="/static/icons/endi.svg#{{ this.icon }}"></use></svg>
				<span>{{this.label}}</span>
				<span class="screen-reader-text">{{#if this.selected}}{{{this.label}}}{{else}}Changer le statut en : {{{this.label}}}{{/if}}</span>
			</span>
		</label>
	{{/each}}
	</div>
</div>
