<div class="separate_block border_left_block">
    {{#if collapsed}}
	<h2 class="title collapse_title">
		<a
			href="javascript:void(0);"
			onclick='toggleCollapse( this );' 
			aria-expanded="false"
			title="Afficher les ajustements du total TTC"
			aria-label="Afficher les ajustements du total TTC"
			>
			<svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
			<span class="icon status error" title="Ce bloc comporte une erreur">
				<svg><use href="/static/icons/endi.svg#exclamation-triangle"></use></svg>
			</span>
			<span class="icon status success" title="Ce bloc est valide">
				<svg><use href="/static/icons/endi.svg#check"></use></svg>
			</span>
			Ajustements du total TTC <small>(acomptes, primes, etc…)</small>
		</a>
	</h2>
    {{else}}
    <h2 class='title'>Ajustements du total TTC <small>(acomptes, primes, etc…)</small></h2>
    {{/if}}
	<div class="collapse_content" {{#if collapsed}}hidden{{/if}}>
		<div class="content">
			<div>
				<p>Lignes à afficher après le total TTC de la facture <strong>à titre informatif uniquement</strong> pour le client.</p>
				<p><em><small>Acomptes perçus et non facturés, primes CEE, etc...</small></em></p>
			</div>
			<div class='block-errors'></div>
			{{# if not_empty}}
			<div class='table_container'>
				<table class="hover_table">
					<thead>
						<tr>
							<th scope="col" class="col_text">Description</th>
                            <th scope="col" class="col_number">Montant</th>
							{{#if edit}}
							<th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
							{{/if}}
						</tr>
					</thead>
					<tbody class='lines'>
					</tbody>
				</table>
			</div>
			{{/if}}
			{{#if edit}}
			<div class="actions content_double_padding align_right">
				<button
					type="'button"
					class="btn btn-add"
					title="Ajouter un ajustement"
				>
					<svg><use href="/static/icons/endi.svg#plus"></use></svg>
					Ajouter un ajustement
				</button>
			</div>
			{{/if}}
		</div>
	</div>
	<div class='modalregion'></div>
</div>
