<script setup>
  import { computed } from 'vue'
  const props = defineProps({
    name: { type: String, required: true },
    css: { type: String, default: '' },
  })

  const url = computed(() => '/static/icons/endi.svg#' + props.name)
</script>

<template>
  <svg :class="css">
    <use :href="url"></use>
  </svg>
</template>
