<form name="current">
	<div class='limited_width width40'>
		<div class='message-container'></div>
		<div class='errors'></div>
		<fieldset>
			<h2 class="title">{{ title }}</h2>
			<div class='field-title'></div>
			<div class='field-description'></div>
		</fieldset>

        <div class="layout flex main_actions">
            <div role='group'>
                <button class='btn btn-primary icon' type='submit' value='submit'>
                    <svg><use href="/static/icons/endi.svg#save"></use></svg>Enregistrer
                </button>
                <button class='icon' type='reset' value='submit' title="Annuler et revenir en arrière" aria-label="Annuler et revenir en arrière">
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>Annuler
                </button>
            </div>
            <div class='resume'></div>
        </div>
    </div>
</form>