{{#if collapsed}}
<h2 class="title collapse_title">
	<a
		href="javascript:void(0);"
		onclick='toggleCollapse( this );' 
		aria-expanded="false"
		title="Afficher les conditions de paiement"
		aria-label="Afficher les conditions de paiement"
		>
		<svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
		<span class="icon status error" title="Ce bloc comporte une erreur">
			<svg><use href="/static/icons/endi.svg#exclamation-triangle"></use></svg>
		</span>
		<span class="icon status success" title="Ce bloc est valide">
			<svg><use href="/static/icons/endi.svg#check"></use></svg>
		</span>
		Conditions de paiement
	</a>
</h2>
{{else}}
<h2 class="title">Conditions de paiement</h2>
{{/if}}
<div class="collapse_content" {{#if collapsed}}hidden{{/if}}>
	<div class='content'>
	<div class='content'>
		<div class='errors'></div>
		<div class='predefined-conditions'></div>
		<div class='conditions'></div>
	</div>
</div>
