body.caerp .item {}

@media (min-width: $wideWidth ) {
	body.caerp .item {}
}

@media (max-width: $wideWidth ) {
	body.caerp .item {}
}

@media (max-width: $desktopWidth ) {
	body.caerp .item {}
}

@media (max-width: $mobileWidth ) {
	body.caerp .item {}
}