// user account pages
@import './variables';

body.caerp {
	.user_header {
		.user_avatar {
			clip-path: circle(3rem);
			flex: 0 0 6rem;
			height: 6rem;
			margin: 0 ($unitPadding * 4) 0 ($unitPadding * 2);
			width: 6rem;

			svg {
				height: 4.5rem;
				margin: 1.5rem .75rem 0;
				width: 4.5rem;
			}
		}

		.btn {
			margin-left: ($unitPadding * 4);
		}

		p {
			padding-bottom: ($unitPadding * 2);
		}

		.highlight {
			padding: 2px .5em;
		}

		+.layout.flex {
			margin-top: ($unitPadding * 8);
		}
	}

	.user_dashboard {
		.separate_bottom {
			align-items: center;
			margin: 0;
			padding: ($unitPadding * 2) 0;
		}

		p+.btn,
		p+.btn-container .btn {
			margin-top: $unitPadding;
		}
	}

	.content_vertical_padding {
		.btn {
			margin: $unitPadding 0;
		}
	}

	.doc_list {
		.form-group {
			padding-bottom: $unitPadding;
			width: 100%;
		}
	}
}