<td class="col_text {{#if is_previewable}}clickable{{/if}}"
    {{#if is_previewable }}
        title="Cliquer pour prévisualiser {{{name}}}"
        aria-label="Cliquer pour prévisualiser {{{name}}}"
    {{/if}}
>
  {{#if is_previewable }}<a href="#">{{/if}}
    {{name}}
    {{#if description_differs}}
      <small>({{description}})</small>
    {{/if}}
    {{#if is_previewable }}</a>{{/if}}
</td>
<td class="col_actions width_two">
  <button
    type="button"
    class="btn icon only btn-edit"
    title="Modifier le fichier"
    aria-label="Modifier le fichier"
  >
    <svg>
      <use href="/static/icons/endi.svg#pen"></use>
    </svg>
  </button>
  {{# if is_previewable }}
    <button type="button" class='btn icon only btn-view' title="Voir le fichier" aria-label="Voir le fichier">
      <svg><use href="/static/icons/endi.svg#eye"></use></svg>
    </button>
  {{/if}}
</td>