{{#if noPayment }}
<p class="content_vertical_padding">
    <em>Aucun {{{ paymentWording }}} effectué pour l’instant</em>
</p>
{{else}}
{{#if multiPayment}}
    <h5 class="content_vertical_padding">
	{{{ paymentWordingCapitalized }}}s effectués à {{{ paymentsRecipient }}} :
    </h5>
    <ul>
    {{#each payments}}
	<li>
		<a href="/supplier_payments/{{{ this.id }}}">
			<strong>{{{ this.amount }}}</strong>
            le {{{ this.date }}}
            <small>({{{ this.mode }}}{{#if this.bank_remittance_id}} : {{{ this.bank_remittance_id }}}{{/if}})</small>
		</a>
	</li>
    {{/each}}
    </ul>
{{else}}
    <p>
        {{{ paymentWordingCapitalized }}} effectué à {{{ paymentsRecipient }}} :

    <a href="/supplier_payments/{{{ payments.0.id }}}">
        <strong>{{{ payments.0.amount }}}</strong>
        le {{{ payments.0.date }}} 
        <small>
            ({{{ payments.0.mode }}}{{#if payments.0.bank_remittance_id}} : {{{ payments.0.bank_remittance_id }}}{{/if}})
        </small>
    </a>
    </p>
{{/if}}

{{/if}}
