@media print {
  body.caerp[class*="/expenses/"] .expense_header {
    border: 0.05pt solid #f9f9f9;
    display: block;
    padding: 5pt; }
    body.caerp[class*="/expenses/"] .expense_header > div {
      width: 100%; }
    body.caerp[class*="/expenses/"] .expense_header ul {
      list-style-type: none; }
  body.caerp[class*="/expenses/"] .separate_top {
    border: 0 none;
    padding: 0; }
  body.caerp[class*="/expenses/"] .tab-content .totals,
  body.caerp[class*="/expenses/"] .internal-total,
  body.caerp[class*="/expenses/"] .activity-total {
    display: none !important; }
  body.caerp[class*="/expenses/"] .tab-content .tab-pane .layout.flex {
    display: block;
    page-break-after: avoid; }
  body.caerp[class*="/expenses/"] .grand-total {
    margin: 0; } }
