body.caerp .expense_totals {
  background: var(--message-info-background-color);
  margin: 10px 0;
  padding: 5px; }
  body.caerp .expense_totals > div {
    display: flex;
    justify-content: flex-start; }
    body.caerp .expense_totals > div .layout.flex {
      width: 12em; }
      body.caerp .expense_totals > div .layout.flex > div:nth-child(2n + 1) p {
        padding-top: 2px; }
      body.caerp .expense_totals > div .layout.flex > div:nth-child(2n) p {
        text-align: right; }

body.caerp .modal_view .select label,
body.caerp .modal_view .select select {
  width: 100%; }

body.caerp .flex .btn-group {
  flex: 0 0 auto;
  padding-left: 5px; }

body.caerp .add_km_expense > div {
  padding-bottom: 10px; }

body.caerp .main_toolbar .js_actions .resume {
  align-self: center;
  flex: 1 1 auto;
  justify-content: center; }
  body.caerp .main_toolbar .js_actions .resume > div {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5px; }
    body.caerp .main_toolbar .js_actions .resume > div label.btn {
      margin: 0; }
    body.caerp .main_toolbar .js_actions .resume > div label:not(.btn) {
      font-size: .825em;
      padding: 5px; }
    body.caerp .main_toolbar .js_actions .resume > div .toggle-buttons {
      padding: 0; }

body.caerp .main_toolbar .main_actions .more_actions {
  flex: 1 1 auto; }
  body.caerp .main_toolbar .main_actions .more_actions > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 11.25rem;
    padding: 0 2px; }
    body.caerp .main_toolbar .main_actions .more_actions > div > div > label {
      display: block;
      font-size: .875rem;
      padding-bottom: 5px;
      text-align: center; }
    body.caerp .main_toolbar .main_actions .more_actions > div > div > .btn,
    body.caerp .main_toolbar .main_actions .more_actions > div > div > .btn-container {
      margin-right: 5px; }
    body.caerp .main_toolbar .main_actions .more_actions > div > div:last-child {
      align-items: center; }
      body.caerp .main_toolbar .main_actions .more_actions > div > div:last-child > label {
        display: inline;
        padding: 0 0 0 10px; }
    body.caerp .main_toolbar .main_actions .more_actions > div > div:only-child .btn, body.caerp .main_toolbar .main_actions .more_actions > div > div:only-child .btn-container {
      margin-right: 0; }

body.caerp[class*="supplier_orders"] .two_cols .totals.form-section {
  justify-content: flex-start; }

body.caerp[class*="supplier_orders"] .main_toolbar .main_actions .more_actions > div {
  justify-content: flex-end; }

@media (max-width: 75rem) {
  body.caerp .main_toolbar .js_actions .resume {
    flex-basis: 15em; } }

@media (max-width: 50rem) {
  body.caerp .main_toolbar .main_actions {
    flex-wrap: nowrap; }
    body.caerp .main_toolbar .main_actions .more_actions {
      flex: 0 1 auto;
      padding: 0 5px; }
      body.caerp .main_toolbar .main_actions .more_actions > div {
        justify-content: flex-start; } }

@media (max-width: 31.25rem) {
  body.caerp .totals.form-section .flex.two_cols > div {
    width: 50%; }
  body.caerp .main_toolbar .main_actions {
    flex-wrap: wrap;
    justify-content: flex-start; }
    body.caerp .main_toolbar .main_actions .resume {
      flex-basis: auto; }
    body.caerp .main_toolbar .main_actions .more_actions {
      flex: 0 1 auto;
      margin: 0 5px; }
      body.caerp .main_toolbar .main_actions .more_actions:first-child {
        margin: 0 -2px; }
      body.caerp .main_toolbar .main_actions .more_actions > div {
        justify-content: flex-start; }
    body.caerp .main_toolbar .main_actions > div {
      margin-right: 5px; }
      body.caerp .main_toolbar .main_actions > div:last-child {
        margin-right: 0; } }
