body.caerp .user_header .user_avatar {
  clip-path: circle(3rem);
  flex: 0 0 6rem;
  height: 6rem;
  margin: 0 20px 0 10px;
  width: 6rem; }
  body.caerp .user_header .user_avatar svg {
    height: 4.5rem;
    margin: 1.5rem .75rem 0;
    width: 4.5rem; }

body.caerp .user_header .btn {
  margin-left: 20px; }

body.caerp .user_header p {
  padding-bottom: 10px; }

body.caerp .user_header .highlight {
  padding: 2px .5em; }

body.caerp .user_header + .layout.flex {
  margin-top: 40px; }

body.caerp .user_dashboard .separate_bottom {
  align-items: center;
  margin: 0;
  padding: 10px 0; }

body.caerp .user_dashboard p + .btn,
body.caerp .user_dashboard p + .btn-container .btn {
  margin-top: 5px; }

body.caerp .content_vertical_padding .btn {
  margin: 5px 0; }

body.caerp .doc_list .form-group {
  padding-bottom: 5px;
  width: 100%; }
