<a href='{{url}}' class="icon" target="_blank" title="Voir ce devis dans une nouvelle fenêtre" aria-label="Voir ce devis dans une nouvelle fenêtre">
    <svg><use href="/static/icons/endi.svg#file-alt"></use></svg>
    {{label}}
</a>
