<div role="dialog" id="supplierorderline-forms" aria-modal="true" aria-labelledby="supplierorderline-forms_title">
    <form>
        <div class="modal_layout">
            <header>
                <button tabindex='-1' type="button" class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre">
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>
                </button>
                <h2 id="supplierorderline-forms_title">Dupliquer une ligne de commande fournisseur</h2>
            </header>
            <div class="modal_content_layout">
                <div class="modal_content">
                    <div class='separate_bottom'>
                        <h3>Ligne</h3>
                        {{description}}<br />
                        <div class='expense_totals'>
                            <div class="layout flex two_cols">
                                <div>
                                    <p>HT&nbsp;: {{{ ht }}}</p>
                                </div>
                            </div>
                            <div class="layout flex two_cols">
                                <div>
                                    <p>TVA&nbsp;: {{{ tva }}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='select layout'></div>
                </div>
                <footer>
                    <button
                        class='btn btn-success btn-primary'
                        type='submit'
                        value='submit'>
                        Dupliquer
                    </button>
                    <button
                        class='btn'
                        type='reset'
                        value='submit'>
                        Annuler
                    </button>
                </footer>
            </div>
        </div><!-- /.modal_layout -->
    </form>
</div><!-- /#supplierorderline-forms -->

