<ul>
    {{#each errors}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<button class="icon only unstyled close" title="Masquer ce message" aria-label="Masquer ce message" data-dismiss="alert" type="button">
    <svg><use href="/static/icons/endi.svg#times"></use></svg>
</button>