<section id="user_login_form" class="modal_view size_small">
    <div role="dialog" id="user_login-forms" aria-modal="true" aria-labelledby="user_login-forms_title">
        <form>
	        <div class="modal_layout">
                <header>
                    <button class="icon only unstyled close" title="Fermer cette fenĂŞtre" aria-label="Fermer cette fenĂŞtre" onclick="toggleModal('user_login_form'); return false;">
                        <svg><use href="/static/icons/endi.svg#times"></use></svg>
                    </button>
                    <h2 id="user_login-forms_title">
                        <span class="user_avatar">
                            <svg><use href="/static/icons/endi.svg#user"></use></svg>
                        </span> 
                        Authentification
                    </h2>
                </header>
                <div class="modal_content_layout">
                    <div class="modal_content">
                        <div class="errors alert alert-danger" style="display:none;"></div>
                        <fieldset>
    						<div class="form-group item-login item-login" id="item-deformField1">
    							<label for="deformField1" class="control-label required" id="req-deformField1" title="Identifiant - Champ obligatoire">
    								<svg class="error"><use href="/static/icons/endi.svg#exclamation-triangle"></use></svg>
    								Identifiant
    								<span class="icon required">
                                        <svg><use href="/static/icons/endi.svg#required"></use></svg> 
                                        <span><span class="screen-reader-text">Champ</span> Obligatoire</span>
                                    </span>
    							</label>
    							<input name="login" value="" id="deformField1" class=" form-control " type="text">
    						</div>
    						<div class="form-group item-password" id="item-deformField2">
    							<label for="deformField2" class="control-label required" id="req-deformField2" title="Mot de passe - Champ obligatoire">
    								<svg class="error"><use href="/static/icons/endi.svg#exclamation-triangle"></use></svg>
    								Mot de passe
    								<span class="icon required" aria-label="Champ obligatoire"><svg><use href="/static/icons/endi.svg#required"></use></svg> Obligatoire</span>
    							</label>
    							<input name="password" value="" id="deformField2" class=" form-control " type="password">
    						</div>
    						<div class="form-group item-remember_me" title="" id="item-deformField4">
    							<div class="toggle">
    								<label for="deformField4">
    									<input name="remember_me" value="true" id="deformField4" type="checkbox">
    									<span>Rester connecté</span>
    								</label>
    							</div>
    						</div>
                        </fieldset>
                    </div>
                    <footer>
                        <button class='btn btn-primary' type='submit'>Connexion</button>
                    </footer>
                </div>
	        </div>
        </form>
    </div>
</section>
