<script setup>
  import { ref } from 'vue'
  import Icon from '@/components/Icon.vue'
  import { NODE_TYPE_LABELS, NODE_ICONS } from '@/helpers/node'

  const props = defineProps({
    node: Object,
    file: Object,
    requirement: Object,
  })
  const nodeTypeLabel = ref(
    NODE_TYPE_LABELS[props.node.type_] + ' : ' + props.node.name
  )
  const nodeIcon = NODE_ICONS[props.node.type_]
</script>

<template>
  <td class="col_icon col_status">
    <span class="icon" :title="nodeTypeLabel">
      <Icon :name="nodeIcon" />
    </span>
  </td>
</template>
