<script setup>
  const props = defineProps({
    file: Object,
  })
</script>
<template>
  <td class="col_text">
    <a
      v-if="file"
      :href="'/files/' + file.id + '?action=download'"
      title="Cliquer pour télécharger le fichier"
      aria-label="Cliquer pour télécharger le fichier"
      target="_blank"
      >{{ file.name }}<br />
      <small>{{ file.human_size }}</small>
    </a>
    <small v-else>Fichier manquant</small>
  </td>
</template>
