<script setup>
  import { FILE_REQUIREMENT_LABELS } from '../../consts.js'
  const props = defineProps({ requirement: Object })

  const reqLabel = FILE_REQUIREMENT_LABELS[props.requirement.requirement_type]
</script>
<template>
  <small>{{ reqLabel }}</small>
</template>
