<fieldset class="icon_choice" title="Combinaison des critères">
    <div class="layout flex">
        <h6 class="screen-reader-text">
            Combinaison des critères
        </h6>
        <label>
            <input 
                type="radio"
                {{#if is_and_clause}}
                checked="checked" 
                {{/if}}
                value='and'
                class="visuallyhidden">
            <span>
                et
            </span>
        </label>
        <label>
            <input 
                type="radio" 
                {{#if is_or_clause}}
                checked="checked" 
                {{/if}}
                value='or'
                class="visuallyhidden">
            <span>
                ou
            </span>
        </label>
    </div>
</fieldset>