// accordions

body.caerp .collapsible {
	position: relative;

	.collapse_title {
		&.title {
			>a {
				border: 0 none;
				margin-left: -($unitPadding);
				padding: 0;
			}
		}

		>a {
			all: inherit;
			color: var(--text-color);
			cursor: pointer;
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				box-shadow: none;
				color: var(--collapsible-title-color);

				>svg,
				svg.arrow {
					fill: $lightGreen;
				}
			}

			svg.arrow {
				fill: $lightGreen;
				margin-left: $unitPadding;
				vertical-align: text-bottom;
			}

			svg.icon {
				fill: var(--icon-neutral-color);
			}

			.icon {
				margin: 0 $unitPadding;
				vertical-align: text-top;

				svg {
					vertical-align: baseline;
				}

				&.status {
					vertical-align: text-bottom;
				}
			}
		}

		&[aria-expanded="true"],
		*[aria-expanded="true"] {
			.icon.folder {
				display: none;
			}

			.icon.folder-open {
				display: inline-block;
			}

			svg.arrow {
				transform: rotate(180deg);
			}

			svg.plus {
				display: none;
			}

			svg.minus {
				display: inline;
			}
		}

		&[aria-expanded="false"],
		*[aria-expanded="false"] {
			.icon.folder {
				display: inline-block;
			}

			.icon.folder-open {
				display: none;
			}

			svg.arrow {
				transform: rotate(0deg);
			}

			svg.plus {
				display: inline;
			}

			svg.minus {
				display: none;
			}
		}

		.help_text {
			display: inline-block;

			small {
				font-size: 1rem;
				font-weight: normal;
			}

			a {
				color: var(--text-color);
				font-size: 1rem;
				padding-left: ($unitPadding * 2);
				text-decoration: none;

				svg {
					fill: var(--svg-fill-color);
					vertical-align: text-top;
				}

				&:hover,
				&:focus,
				&:active {
					svg {
						fill: $lightGreen;
					}
				}
			}
		}
	}

	.collapse_content {
		padding-left: ($unitPadding * 6);

		.collapse>div:not(:empty) {
			padding: $unitPadding $unitPadding $unitPadding 0;
		}

		>div {
			padding-top: $unitPadding;
		}

		h4 {
			padding: $unitPadding 0;
		}
	}

	&.separate_block {
		&.border_left_block .title {
			padding-left: 0;
		}

		.collapse_title>a.separate_bottom {
			border-bottom: 1px solid $fadedGrey;
			padding: $unitPadding 0;
		}
	}

	&.separate_bottom {
		padding-bottom: $unitPadding;
	}

	.collapse_title_buttons {
		display: flex;
		right: 0;
		padding: 0;
		position: absolute;
		top: 2px;
		z-index: $contentLayer;

		button.icon.only,
		a.icon.only {
			margin-left: $unitPadding;
			padding: $unitPadding;
			position: static;
		}
	}

	a.collapse_button {

		&:hover,
		&:focus,
		&:active {
			color: var(--link-color);
			text-decoration: none;

			svg {
				fill: var(--link-color);
			}
		}

		svg {
			fill: var(--text-color);
			margin: 0 $unitPaddingHalf;
		}
	}
}

@media (max-width: $tabletWidth ) {
	body.caerp .collapsible {
		.collapse_content {
			padding-left: ($unitPadding * 4);
		}
	}
}

@media (max-width: $mobileWidth ) {
	body.caerp .collapsible {
		.collapse_content {
			padding-left: ($unitPadding * 2);
		}
	}
}