// contextual help, messages

body.caerp {
	.context_help {
		font-size: .875rem;

		h4 {
			padding: $unitPadding 0;
		}

		p {
			font-size: .825rem;
			padding: 5px 0;
		}

		dt {
			margin-top: ($unitPadding * 2);
		}
	}

	.message {
		margin-bottom: ($unitPadding * 2);
		padding: $unitPadding 0;

		&.success {
			svg {
				fill: var(--func-positive-color);
			}
		}

		&.error {
			svg {
				fill: var(--func-negative-color);
			}
		}

		&.caution {
			svg {
				fill: var(--func-caution-color);
			}
		}

		&.neutral {
			svg {
				fill: var(--func-neutral-color);
			}
		}
	}

	.alert {
		background: var(--message-default-background-color);
		border-left: 5px solid var(--message-default-border-color);
		margin: ($unitPadding * 2) 0;
		padding: ($unitPadding * 4);
		position: relative;
		font-size: .875rem;

		>.icon {
			line-height: 1.5;
		}

		&.status {
			border-left-width: 0;
			text-align: center;
		}

		&.alert-info {
			background: var(--message-info-background-color);
			border-left-color: var(--func-neutral-color);

			.icon:not(.status) svg {
				fill: var(--func-neutral-color);
			}
		}

		&.alert-danger {
			background: var(--message-danger-background-color);
			border-left-color: var(--func-negative-color);

			.icon:not(.status) svg {
				fill: var(--func-negative-color);
			}
		}

		&.alert-success {
			background: var(--message-success-background-color);
			border-left-color: var(--func-positive-color);

			.icon:not(.status) svg {
				fill: var(--func-positive-color);
			}
		}

		&.alert-warning {
			background: var(--message-warning-background-color);
			border-left-color: var(--func-caution-color);

			.icon:not(.status) svg {
				fill: var(--func-caution-color);
			}
		}

		h2,
		h3,
		h4 {
			padding-bottom: $unitPadding;
		}

		ul,
		ol {
			margin-bottom: 0;
			margin-top: 0;
		}

		ul {
			padding-top: $unitPadding;
		}

		button.close {
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	>.notification .alert {
		align-items: center;
		border-left-width: 0;
		display: flex;
		height: 3rem;
		justify-content: center;
		margin: 0;
		overflow-y: hidden;
		padding: 0;

		>.icon:not(.status) {
			align-items: center;
			align-self: stretch;
			background: var(--func-neutral-color);
			display: flex;
			flex: 0 0 3rem;
			justify-content: center;
			margin: 0;

			svg {
				fill: var(--svg-invert-fill-color);
				height: 2rem;
				width: 2rem;
			}
		}

		>button.icon.close {
			position: static;
		}

		&.alert-info>.icon:not(.status) {
			background: var(--func-neutral-color);

			svg {
				fill: var(--svg-invert-fill-color);
			}
		}

		&.alert-danger>.icon:not(.status) {
			background: var(--func-negative-color);

			svg {
				fill: var(--svg-invert-fill-color);
			}
		}

		&.alert-success>.icon:not(.status) {
			background: var(--func-positive-color);

			svg {
				fill: var(--svg-invert-fill-color);
			}
		}

		&.alert-warning>.icon:not(.status) {
			background: var(--func-caution-color);

			svg {
				fill: var(--svg-invert-fill-color);
			}
		}

		>div {
			max-height: 3rem;
			line-height: 1.25;
			overflow-y: auto;
			padding: $unitPaddingHalf (
				$unitPadding * 2
			);
	}
}

.border_left_block .alert {
	border-left: 0 none;
}

.action_feedback {
	position: relative;

	&::after {
		animation: dismiss_anim .5s ease-out 1s forwards;
		background-color: var(--func-neutral-color);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: 1.5em auto;
		border-radius: 50%;
		box-shadow: 0 2px 4px var(--box-shadow-color);
		content: "";
		display: block;
		height: 3em;
		position: absolute;
		right: ($unitPadding * 2);
		top: ($unitPadding * 2);
		width: 3em;
	}

	&.success {
		&::after {
			background-color: $funcPositive;
			background-image: url("../icons/check.svg");
		}
	}
}

blockquote {
	background: var(--message-default-background-color);
	border-left: 5px solid var(--message-default-border-color);
	font-size: .875rem;
	margin: 0;
	padding: .6rem;
	position: relative;

	h5 {
		font-weight: bold;

		+p {
			padding-top: $unitPadding;
		}
	}

	button.unstyled {
		float: right;
		margin: -.6rem -.6rem $unitPadding 1rem;
		shape-outside: margin-box;

		~p:only-of-type,
		~h5:only-child {
			min-height: 2rem;
		}
	}

	footer {
		border: unset;
		clear: right;
		color: var(--message-footer-color);
		font-size: .75rem;
		padding-top: $unitPadding;
		text-align: right;

		&::before {
			content: "";
		}

		.icon svg {
			fill: var(--message-footer-color);
			vertical-align: text-top;
		}
	}

	.icon.status {
		align-items: center;
		background: var(--message-default-border-color);
		border-radius: 0;
		bottom: 0;
		display: flex;
		height: auto;
		justify-content: center;
		left: 0;
		position: absolute;
		top: 0;
		width: 2rem;

		svg {
			fill: $white;
		}
	}

	&[class] {
		border-width: 0;
		padding-left: 2.6rem;
	}

	&.unknown {
		border-width: 5px;
		padding-left: .6rem;
	}

	&.success,
	&.valid,
	&.completed,
	&.partial_unpaid,
	&.action_pending {
		background: var(--message-success-background-color);
	}

	&.caution,
	&.wait,
	&.danger {
		background: var(--message-warning-background-color);
	}

	&.error,
	&.invalid,
	&.cancelled,
	&.failed,
	&.unpaid {
		background: var(--message-danger-background-color);
	}

	&.neutral,
	&.planned {
		background: var(--message-info-background-color);
	}

	.btn.small {
		margin: $unitPadding $unitPadding 0 0;
	}
}

.memos.status_history>ul {

	/* Not applied in popin */
	>li:only-child blockquote:not(.pinned)>div {
		clip-path: polygon(0 0, 100% 0, 100% 18.75rem, 0 18.75rem);
		max-height: 18.75rem;
		-webkit-mask-image: linear-gradient(180deg, $black 0%, $black 18rem, $transparentBg 18.75rem);
		mask-image: linear-gradient(180deg, $black 0%, $black 18rem, $transparentBg 18.75rem);
	}

	>li:nth-child(2):last-child blockquote:not(.pinned)>div,
	>li:nth-last-child(2):first-child blockquote:not(.pinned)>div {
		clip-path: polygon(0 0, 100% 0, 100% 13.75rem, 0 13.75rem);
		max-height: 13.75rem;
		-webkit-mask-image: linear-gradient(180deg, $black 0%, $black 13rem, $transparentBg 13.75rem);
		mask-image: linear-gradient(180deg, $black 0%, $black 13rem, $transparentBg 13.75rem);
	}

	>li>blockquote:not(.pinned)>div {
		clip-path: polygon(0 0, 100% 0, 100% 7.75rem, 0 7.75rem);
		max-height: 7.75rem;
		-webkit-mask-image: linear-gradient(180deg, $black 0%, $black 7rem, $transparentBg 7.75rem);
		mask-image: linear-gradient(180deg, $black 0%, $black 7rem, $transparentBg 7.75rem);
		cursor: pointer;
	}
}

.status_history, .timeline {
	h4 {
		padding-top: .5em;

		.btn.unstyled {
			margin-top: -.75em;
		}
	}

	ul {
		list-style-type: none;
	}

	li {
		margin: $unitPadding 0;
		padding: 0;

		blockquote {
			margin: 0;
		}
	}
}

.status_history {
	li:nth-child(n + 2) {
		margin: $unitPadding 0;

		blockquote {
			padding-bottom: .4rem;
			padding-top: .4rem;

			footer {
				padding-top: $unitPaddingHalf;
			}
		}
	}

	li:nth-child(n + 5) {
		margin: $unitPaddingHalf 0;

		blockquote {
			padding-bottom: .25rem;
			padding-top: .25rem;

			p.status+p {
				padding-top: 0;
			}
		}
	}
}

.layout.two_cols>.status_history:not(.in_form) {
	flex: 0 1 25em;
	padding-left: 0;

	&:not(.memos) {
		flex-basis: 10em;
	}
}

.layout.two_cols.with_memos>div:nth-child(2) {
	flex: 0 1 25em;
}

.timeline {
	padding: ( $unitPadding * 2 ) 0;

	ul {
		display: flex;
		flex-direction: column;
	}

	li {
		margin: 0 0 0 2rem;
		flex: 0 0 calc( 100% - 4rem );
		position: relative;

		&:nth-child(n+2) {
			margin-left: 2rem;
		}

		&::before {
			border-left: 1px dashed var(--border-color);
			bottom: 0;
			content: "";
			display: block;
			left: 0;
			position: absolute;
			top: 0;
			width: 0;
		}

		&:first-child::before {
			top: 50%;
		}

		&:last-child::before {
			bottom: 50%;
		}

		&::after {
			background: var(--border-color);
			border-radius: 50%;
			bottom: -.25rem;
			content: "";
			display: block;
			left: -.25rem;
			height: .5rem;
			position: absolute;
			width: .5rem;
		}

		&:last-child::after {
			display: none;
		}

	}

	blockquote {
		padding-left: .6rem;
		position: static;

		&::after {
			border-top: 1px dashed var(--border-color);
			content: "";
			display: block;
			left: 0;
			position: absolute;
			top: 50%;
			width: 4rem;
			z-index: $contentLayer;
		}

		.icon.status {
			height: 2rem;
			left: -1rem;
			margin-top: -1rem;
			top: 50%;
			z-index: $stickyContentLayer;
		}

		&.future {
			opacity: .75;
			&:hover,
			&:focus-within {
				opacity: 1;
			}
		}

		&.current {
			outline: 1px solid var(--func-positive-color);
		}
	}

	> div.align_center:first-child > button {

		svg:nth-child(2) {
			display: none;
		}
	}

	&.reverse {
		ul {
			flex-direction: column-reverse;
		}

		li {
			&:first-child::before {
				top: 0;
				bottom: 50%;
			}

			&:last-child::before {
				bottom: 0;
				top: 50%;
			}

			&:last-child::after {
				display: block;
			}

			&:first-child::after {
				display: none;
			}
		}

		> div.align_center:first-child > button {

			svg:nth-child(1) {
				display: none;
			}

			svg:nth-child(2) {
				display: block;
			}
		}

	}

}

.main_area .timeline {
	li {
		padding: .5rem 1rem .5rem 4rem;
	}
}

.version {
	h2 small {
		font-size: 1rem;
		padding-left: $unitPadding*3;
	}

	h3 {
		border-bottom: 1px solid var(--border-color);
		margin: $unitPadding*2 $unitPadding 0 0;

		.icon {
			margin-right: .5rem;

			svg {
				vertical-align: baseline;
			}
		}
	}
}

.version_notes {
	list-style-type: none;
	padding: 0 $unitPadding $unitPadding*2 1.875rem;

	&:last-child {
		padding-bottom: $unitPadding*2
	}

	h4 {
		font-size: 1rem;
	}

	li {
		margin: $unitPadding 0 ($unitPadding * 2);
		padding: 0;
	}

	p,
	a {
		font-size: .9rem;
		margin-bottom: $unitPadding;
	}

	.icon.tag {
		font-size: .75rem;
	}
}
}

@media (max-width: $wideWidth ) {
	body.caerp p.help {
		padding: $unitPadding 0 ($unitPadding * 2);
	}
}

@media (min-width: $tabletWidth ) {
	body.caerp .context_help {
		border-left: $simpleLine dashed $fadedGrey;
	}
	body.caerp .main_area .timeline {
		li {
			margin-bottom: -.5rem;
			margin-top: -.5rem;
			padding-bottom: 0;
			padding-top: 0;
			width: 50%;

			&:nth-child(odd) {
				align-self: flex-start;
				margin: 0 2rem 0 0;
				padding-left: 1rem;
				padding-right: 4rem;

				&::before {
					left: auto;
					right: -1px;
				}

				&::after {
					left: auto;
					right: -.25rem;
				}

				blockquote {
					&::after {
						left: auto;
						right: 0;
					}

					.icon.status {
						left: auto;
						right: -1rem;
					}
				}
			} 

			&:nth-child(even) {
				align-self: flex-end;
			} 
		}
	}
}

@media (max-width: $tabletWidth ) {
	body.caerp .context_help {
		border-top: $simpleLine dashed $fadedGrey;
		margin-top: ($unitPadding * 2);

		ul {
			display: flex;
			flex-wrap: wrap;

			li {
				min-width: 15em;
				width: 50%;
			}
		}
	}
}

@media (max-width: $mobileWidth ) {
	body.caerp {
		.alert {
			padding: ($unitPadding * 2);
		}

		.main_area .timeline {
			li {
				padding-left: 2rem;
			}

			blockquote {
				&::after {
					width: 2rem;
				}
			}
		}
	}
}