// main content area layout

body.caerp .main_area {
	>main {
		flex: 1 0 auto;
		overflow: visible; // to allow stickiness

		&:focus {
			outline: 0 none;
		}

		&:only-child {
			max-width: 100%;
		}
	}

	.display_switch .contract {
		display: none;
	}
}

body.caerp .main_toolbar {
	background: var(--screen-trans-background-color);
	border-bottom: 1px dashed var(--border-color);
	margin-bottom: ($unitPadding * 2);
	padding-bottom: 0;
	z-index: $actionLayer;

	&:not(.nav_tools) {
		position: sticky;
		top: 0;
	}

	+.main_toolbar {
		margin-top: -11px;
	}

	&:empty {
		border: 0 none;
		margin-top: 0;
	}

	ul.nav-pills {
		list-style-type: none;

		li {
			display: inline-block;
			padding: 0 ($unitPadding * 2) 0 0;

			a,
			span {
				display: inline-block;
				padding: $unitPadding 0;
			}
		}
	}

	ul.breadcrumb {
		font-size: .825rem;
		line-height: 1.25;
		list-style-type: none;
		padding: ($unitPadding * 2) 0;

		li {
			display: inline;
			padding: 0;

			a,
			span {
				display: inline;
			}

			&:not(.back_link):not(.active)::after {
				content: "\A0\25b8\A0";
			}
		}

		.icon svg {
			vertical-align: text-top;
		}
	}

	&.nav_tools ul.nav-pills {
		font-size: .825rem;
	}

	.flex {
		align-items: center;
		justify-content: space-between;

		>div {
			align-items: center;
			display: flex;
		}
	}

	.main_actions {
		min-height: ($unitPadding * 10);
		padding-bottom: $unitPadding;
		padding-top: $unitPadding;

		.btn,
		button {
			align-items: center;
			display: flex;
			justify-content: center;
			margin: $unitPadding 0;

			&.dropdown-toggle+.dropdown-menu {
				top: calc( 2.25rem  + 6px );
			}
		}

		.dropdown-menu .btn,
		.dropdown-menu button {
			justify-content: flex-start;
		}

		button,
		.btn,
		.btn-group,
		.btn-container {

			+button,
			+.btn,
			+.btn-group,
			+.btn-container {
				margin-left: $unitPadding;
			}
		}

		label.btn+label.btn {
			margin-left: 0;
		}

		div[role="group"] {
			>div+div {
				margin-left: $unitPadding;
			}

			p {
				font-size: .875rem;
				padding-right: $unitPadding;

				&:not(:first-child) {
					padding-left: ($unitPadding * 2);
				}
			}
		}

		img+button,
		img+.btn,
		img+.btn-group {
			margin-left: ($unitPadding * 2);
		}
	}

	dl {
		margin: 0;
	}

	label+input {
		display: block;
	}

	.buttons {
		align-self: center;
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;

		button:not(:only-child) {
			margin-left: $unitPadding;
		}

		&:only-child {
			display: block;
			text-align: right;
			width: 100%;
		}
	}
}

@media (min-width: $mobileWidth ) {
	body.caerp .main_content {
		.limited_width {
			margin: 0 auto;
			max-width: 80em;

			&.width20 {
				max-width: 20em;
			}

			&.width30 {
				max-width: 30em;
			}

			&.width40 {
				max-width: 40em;
			}

			&.width50 {
				max-width: 50em;
			}

			&.width60 {
				max-width: 60em;
			}
		}
	}
}

@media (min-width: $desktopWidth ) {
	body.caerp .main_content {
		padding: 0 $contentHorPadding $contentVerPadding;

		.main_toolbar {
			margin-left: $contentHorPaddingNegative;
			margin-right: $contentHorPaddingNegative;
			padding-left: 1.875rem;
			padding-right: $contentHorPadding;
		}

		.limited_width {
			margin: 0 auto;
			max-width: 80em;

			&.width20 {
				max-width: 20em;
			}

			&.width30 {
				max-width: 30em;
			}

			&.width40 {
				max-width: 40em;
			}

			&.width50 {
				max-width: 50em;
			}

			&.width60 {
				max-width: 60em;
			}
		}
	}
}

@media (min-width: $wideWidth ) {
	body.caerp:not(.aside_bottom) .main_area {
		display: flex;

		>main:only-child {
			overflow: auto;
		}

		>main:not(:only-child) {
			flex: 1 1 auto;
			max-width: calc(100% - 9.375rem);
			overflow: auto;
		}
	}

	body.caerp:not(.aside_bottom).aside_mini .main_area {
		>main {
			max-width: calc(100% - 2rem);
		}
	}

	body.caerp[class*="instance_"]:not(.aside_bottom) .main_area {
		>main:not(:only-child) {
			max-width: calc(100% - 9.375rem - 10px);
		}
	}

	body.caerp[class*="instance_"]:not(.aside_bottom).aside_mini .main_area {
		>main {
			max-width: calc(100% - 2rem - 10px);
		}
	}
}

@media (max-width: $desktopWidth ) {
	body.caerp .main_content {
		padding: 0 $contentHorPaddingHalf $contentVerPadding;

		.main_toolbar {
			margin-left: -$contentHorPaddingHalf;
			margin-right: -$contentHorPaddingHalf;
			padding-left: $contentHorPaddingHalf;
			padding-right: $contentHorPaddingHalf;
		}
	}
}

@media (max-width: $tabletWidth ) {
	body.caerp .main_toolbar {
		.main_actions {

			.btn.icon_only_tablet,
			button.icon_only_tablet {
				display: block;
			}
		}
	}
}

@media (max-width: $mobileWidth ) {
	body.caerp .main_content {
		padding: 0 $contentHorPaddingSixth (
			$contentVerPadding * 2
		);
	max-width: calc(100vw - .625rem);

	.limited_width {
		max-width: calc(100vw - 24px);
	}
}

body.caerp .main_toolbar {
	margin-left: 0;

	.flex {
		>* {
			margin-bottom: $unitPadding;
		}
	}

	.main_actions {

		.btn.icon_only_mobile,
		button.icon_only_mobile {
			display: block;
		}
	}
}
}

@media print {

	// styles used when printing pages
	body.caerp .main_content {
		padding: 0;

		.limited_width {
			max-width: 100%;
			width: 100%;
		}
	}
}