body.caerp.caerp_popup {
	.main_header {
		padding: 0 $unitPadding;

		.header_content {
			max-width: 100%;

			>div:only-child {
				max-width: 100%;
				padding: 0 !important;
			}
		}

		h1 {
			button {
				position: absolute;
				right: 0;
				top: 0;

				svg {
					fill: $white;
				}
			}
		}
	}

	.main_area {
		flex: 0 0 calc(100vh - 3rem - 10px);
		overflow: hidden;
		padding: 0;
		position: relative;
		width: 100vw;

		main {
			height: 100%;
			overflow: hidden;
		}
	}

	.main_content {
		height: 100%;
		overflow: auto;
		padding: 0;

		>.panel .alert {
			margin: $unitPadding;
			padding-bottom: ($unitPadding * 2);
			padding-top: ($unitPadding * 2);
		}

		.limited_width {
			max-width: 100%;
			width: 100%;

			fieldset.deformFormFieldset {
				>div:nth-last-child(2) {
					padding-bottom: ($unitPadding * 2);
				}

				>div.form-group:last-child {
					background: var(--screen-background-color);
					border-top: 1px dashed var(--border-color);
					bottom: 0;
					left: 0;
					padding: $unitPadding 0 0;
					position: sticky;
					width: 100%;
				}
			}
		}

		fieldset.deformFormFieldset {
			padding: $unitPadding $unitPadding 0;

			+div.btn-group:last-child {
				background: var(--screen-background-color);
				bottom: 0;
				left: 0;
				padding: $unitPadding;
				position: sticky;
				width: 100%;
			}
		}
	}

	.layout.flex {
		>div:only-child {
			flex-basis: auto;
		}
	}

	.main_actions,
	.popup_content {
		padding: ($unitPadding * 2) ($unitPadding * 4);
	}

	.main_content>.limited_width {
		>h2 {
			background: var(--theme-color);
			color: var(--theme-text-color);
			padding: ($unitPadding * 2) ($unitPadding * 4);
			position: relative;
		}

		>div {
			padding: ($unitPadding * 2) ($unitPadding * 4);
		}
	}
}

@media (max-width: $mobileWidth ) {
	body.caerp.caerp_popup {

		.main_content,
		.form-row {
			max-width: 100%;
		}
	}
}