// general typographic rules

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
		url('../fonts/opensans-light-webfont.woff') format('woff'),
		url('../fonts/opensans-light-webfont.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
		url('../fonts/opensans-lightitalic-webfont.woff') format('woff'),
		url('../fonts/opensans-lightitalic-webfont.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
		url('../fonts/opensans-regular-webfont.woff') format('woff'),
		url('../fonts/opensans-regular-webfont.ttf') format('truetype');
	font-weight: normal; // 400
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
		url('../fonts/opensans-italic-webfont.woff') format('woff'),
		url('../fonts/opensans-italic-webfont.ttf') format('truetype');
	font-weight: normal; // 400
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
		url('../fonts/opensans-bold-webfont.woff') format('woff'),
		url('../fonts/opensans-bold-webfont.ttf') format('truetype');
	font-weight: bold; // 700
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
		url('../fonts/opensans-bolditalic-webfont.woff') format('woff'),
		url('../fonts/opensans-bolditalic-webfont.ttf') format('truetype');
	font-weight: bold; // 700
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
		url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
		url('../fonts/opensans-extrabold-webfont.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
		url('../fonts/opensans-extrabolditalic-webfont.woff') format('woff'),
		url('../fonts/opensans-extrabolditalic-webfont.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
		url('../fonts/raleway-light-webfont.woff') format('woff'),
		url('../fonts/raleway-light-webfont.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
		url('../fonts/raleway-lightitalic-webfont.woff') format('woff'),
		url('../fonts/raleway-lightitalic-webfont.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
		url('../fonts/raleway-regular-webfont.woff') format('woff'),
		url('../fonts/raleway-regular-webfont.ttf') format('truetype');
	font-weight: normal; // 400
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-italic-webfont.woff2') format('woff2'),
		url('../fonts/raleway-italic-webfont.woff') format('woff'),
		url('../fonts/raleway-italic-webfont.ttf') format('truetype');
	font-weight: normal; // 400
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
		url('../fonts/raleway-bold-webfont.woff') format('woff'),
		url('../fonts/raleway-bold-webfont.ttf') format('truetype');
	font-weight: bold; // 700
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-bolditalic-webfont.woff2') format('woff2'),
		url('../fonts/raleway-bolditalic-webfont.woff') format('woff'),
		url('../fonts/raleway-bolditalic-webfont.ttf') format('truetype');
	font-weight: bold; // 700
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-extrabold-webfont.woff2') format('woff2'),
		url('../fonts/raleway-extrabold-webfont.woff') format('woff'),
		url('../fonts/raleway-extrabold-webfont.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-extrabolditalic-webfont.woff2') format('woff2'),
		url('../fonts/raleway-extrabolditalic-webfont.woff') format('woff'),
		url('../fonts/raleway-extrabolditalic-webfont.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

body.caerp {
	color: var(--text-color);
	font-family: 'OpenSans', sans-serif;

	input,
	textarea,
	button {
		font-family: 'OpenSans', sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.base_menu,
	.base_menu button,
	.base_menu input {
		font-family: 'Raleway', sans-serif;
	}

	h1 {
		font-size: 1.5rem;
		font-weight: bold;
	}

	h2 {
		font-size: 1.375rem;
		font-weight: bold;
	}

	h3 {
		font-size: 1.25rem;
		font-weight: bold;
		margin-bottom: .2em;
	}

	h4 {
		font-size: 1.125rem;
		font-weight: bold;
		margin-bottom: .2em;
	}

	h5 {
		font-size: 1.125rem;
		font-weight: normal;
		margin-bottom: .2em;
	}

	h6 {
		font-size: 1rem;
		font-weight: bold;
		margin-bottom: .2em;
	}

	h2>img,
	h3>img {
		margin: 0 $unitPadding;
		vertical-align: middle;

		&:first-child {
			margin: 0 $unitPadding 0 0;
		}

		&:last-child {
			margin: 0 0 0 $unitPadding;
		}
	}

	p {
		line-height: 1.25;
	}

	.positive_text {
		color: var(--func-positive-color);
	}

	.negative_text {
		color: var(--func-negative-color);
	}

	.highlight {
		background: var(--message-info-background-color);
		margin: .5em 0;
		padding: 2px;
	}

	.highlight_title {
		background: var(--message-info-background-color);
		font-size: 1.5rem;
		margin: .5em 0;
		padding: 2px;
	}

	.highlight_pen {
		background: var(--highlight-color) !important;
		color: var(--theme-idependant-text-color) !important;
	}

	.oversized_text {
		color: var(--oversized-text-color);
		font-size: 2rem;
		font-weight: bold;
		padding: .5em 0;
	}

	.important_number {
		font-size: 3rem;
		text-align: center;
	}

	sup {
		font-size: .625em;
	}

	.data_display {

		h2,
		h3 {
			padding: $unitPadding 0;

			+div {
				padding-top: ($unitPadding * 2);
			}
		}

		.two_cols {
			align-items: baseline;
			align-items: first baseline;
			padding: $unitPadding 0;
		}

		strong,
		b {
			line-height: 1.1;
		}

		i,
		em {
			color: var(--text-greyed-color);
		}

		em.empty {
			font-size: .875rem;
		}

		div.empty {
			color: var(--text-greyed-color);

			dt {
				font-weight: normal;
			}

			dd {
				font-size: .875rem;
			}
		}

		&.separate_block {
			margin-bottom: ($unitPadding * 4);
		}
	}

	address {
		font-style: normal;
	}
}