<section class="modal_view size_large">
    <div
        role="dialog"
        id="work-forms"
        aria-modal="true"
        aria-labelledby="work-forms_title"
    >
        <div class="modal_layout">
            <header>
                <button
                    class="icon only unstyled close"
                    title="Fermer cette fenêtre"
                    aria-label="Fermer cette fenêtre"
                        type="button"
                >
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>
                </button>
                <h2 id="work-forms_title">
                    Modifier un ouvrage
                </h2>
            </header>
            <form name="current" class="modal_content_layout layout">
                <div class="modal_content">
                    <div class="errors"></div>
                    <fieldset>
                        <div class="row form-row">
                            <div class="col-md-12">
                                <div class="field-title"></div>
                            </div>
                        </div>
                        <div class="field-description"></div>
                        <div class="field-display_details"></div>
                        <div class="row form-row">
                            <div class="col-md-12">
                                <div class="field-margin_rate"></div>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-6">
                                <div class="field-quantity"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="field-unity"></div>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-6">
                                <div class="field-tva_id"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="field-product_id"></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <footer>
                    <button class="btn btn-primary icon" type="submit" value="submit">
                        <svg>
                            <use href="/static/icons/endi.svg#check"></use>
                        </svg>
                        Valider
                    </button>
                    <button class="btn" type="reset" value="cancel">
                        Annuler
                    </button>
                </footer>
            </form>
        </div>
    </div>
</section>